<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Trip</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1 class="container text-center">Hi {{request.session.first_name}}</h1>
    <h3 class="container text-center">Here is your upcoming trip details!</h3>
    <div class="container offset-5">
        <a class="btn btn-primary" href="/trips" role="button">Dashboard</a>
        <a class="btn btn-primary" href="/logout" role="button">Logout</a>
    </div>
    <div class="jumbotron container col-8 mt-5">
        <h1 class="display-4">{{trip_info.destination}}</h1>
        <h3>Start Date: {{trip_info.start_date}}</h3>
        <h3>End Date: {{trip_info.end_date}}</h3>
        <h3>Created On: {{trip_info.created_at}}</h3>
        <h3>Last Updated: {{trip_info.updated_at}}</h3>
        <h3>Plans: {{trip_info.plan}}</h3>
        <h3>Created By: {{trip_info.created_by.first_name}} {{trip_info.created_by.last_name}}</h3>
        <hr>
        <h3>People Who Have Joined This Trip:</h3>
        {% for person in attending  %}
        <p>{{ person.first_name  }}</p>
        {% endfor %}

    </div>
    
</body>
</html>